.ocultar{
    display: none;
 }
body{
    background: #F6F8FF;
    margin: 0;
    color: #413d3d;
    font-family: 'Lato', sans-serif;
 }
/*Header*/
header{
    width: 100%;
    height: 10%;
    border: 0.2em solid #413D3D;
    border-right:0;
    border-left:0;
    background: #205FA7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image{
    width: 8em;
    height: 5em;
    margin-left: 1em;
}
#search{
    width: 13em;
    height: 2em;
    margin-right: 2.5em;
    font-size: 1em;
    border-radius: 0.5em;
    text-align: center;
}
/*Barra Lateral de Navegación*/
#container{
    position: sticky;
}
#check{
    display: none;
}
#icon{
    display: none;
}
.bar{
    background-color: #FFCD1F;
    height: 100%;
    width: 15%;
    position: absolute;
}
.link{
    cursor: pointer;
    width: 100%;
    text-align: justify;
    outline:none;
    background-color: #FFCD1F;
    padding: 1em;
    font-size: 1.2em;
    transition: all .2s linear;
    color: #413D3D;
    border: 0;
    border-bottom: 2px solid #F6F8FF;
}
.link:hover{
    background-color: #205FA7;
    color: #F6F8FF;
}

/*Sección Principal de Pokemones*/
#section{
    width: 85%;
    padding-left: 15%;
}
#pokedex,#getCandy,#comparePokemon,#powerData{
    text-align: center;
}
.title{
    text-align: start;
    font-family:'Lato', sans-serif;
    font-size: 1.7em;
    color: #413D3D;
    padding: 0;
    margin: 0;
    margin-left: 1em;
}
.description{
    padding: 0.5em;
    border: #A1A1AE 0.2em solid;
    background-color: white;
    border-left: 0;
    border-right: 0;
    border-style: double;
    line-height: 1.5em;
}
/*Lista desplegable*/
.options{
    display: flex;
    justify-content: space-evenly;
    text-align-last: center;
    flex-wrap: wrap;
}
.btnGet{
    border: 0.1em solid #A1A1AE;
    padding: 0.5em;
    font-size: 1em;
    color: #205FA7;
    outline:none;
    border-radius: 0.5em;
}
/*Contenedor de pokemones*/
.pokemonList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.conteinerPokemon{
    width: 20%;
    margin: 1%;
    border: #A1A1AE 1px solid;
    color: #205FA7;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.5em;
}
.name{
    text-transform: capitalize;
    font-size: 1.2em;
}
.type{
    padding: 0.5em;
    color: white;
    text-transform: capitalize;
    letter-spacing: 0.2em;
}
/*Caracteristicas de Pokemones*/
.containerDescription{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}
.titleContainer{
    margin-left: 2.5rem;
    font-size: 2rem;
    text-transform: capitalize;
}
.sectionImage{
    margin-left: 2.5rem;
}
.imageContainer{
    width: 90%;
    padding: 0.2rem;
    border: #A1A1AE 0.1em solid;
    border-radius: 0.5rem;
    margin: 0;
}
.boldFont{
    font-size: 1.5em;
    color: #205FA7;
    font-weight: bold;
}
.datesPokemon{
    width: 22rem;
}
.pokemonType{
    color: white;
}
.datesPokemon2{
    width: 70%;
    font-size: 0.5rem;
    margin-top: 4.5rem;
}
.dates{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: #A1A1AE 0.2em solid;
    border-radius: 1rem;
    width: 60%;
}
.dates1, .dates2{
    line-height: 1em;
}
.contentArrowImage{
    width: 20%;
    height: 20%;
}
.arrowImage{
    width: 50%;
    height: 50%;
}
.pokemonDescription{
    width: 90%;
}
.evolutionPokemon{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-top: 1rem;
    border: #A1A1AE 0.1em solid;
    border-radius: 1rem; 
}
.btnRegresar{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Comparación de Pokemones*/
#inputCompare{
    display: flex;
    justify-content: space-around;
}
#searchForm1{
    margin-left: 17%;
}
#searchForm2{
    margin-right: 17%;
}
#twoPokemon{
    height: 2rem;
    width: 10rem;
    margin-top: 5%
}
#tableComparePokemon{
    display: inline-flex;
}
#showPokemon1, #showPokemon2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#searchPokemon1, #searchPokemon2{
    border: 0.1em solid #A1A1AE;
    padding: 0.5em;
    font-size: 1em;
    color: #205FA7;
    border-radius: 0.5em;
}
.sectionPokemon{
    display:flex;
    flex-direction: column;
    
}
.compareTable{
    margin: 1em;
    border-collapse: collapse;
    border: #A1A1AE 0.2em solid;
    align-items: center;
    font-size: 0.8em;
}
.leyenda{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.pleyenda{
    width: 80%;
    padding: 1em;
    text-align: justify;
    border: 0.1em solid #A1A1AE;
    border-radius: 1em;
    line-height: 1.5em;
}
.pokemon{
    width: 150px;
}
/* Tabla de Datos de Poder*/
.items{
    display: flex;
    justify-content: center;
}
.imageAsh{
    height: 300px;
    width: 150px;
    margin: 3rem;
}
.pikachu{
    height: 300px;
    width: 150px;
    margin: 3rem;
}
#powerTable{
    width: 50%;
    margin-top: 2%;
    border-collapse: collapse;
    border: #A1A1AE 0.2em solid;
}
table tr{
    padding: 3px;
    border-top: groove;
    text-align: center;
}
table th, table td {
    padding: 8px;
    text-align: center;
}
table th {
    text-transform: capitalize;
    border-style: groove;
    font-weight: bold;
    background-color: #A1A1AE  ;
    border: #A1A1AE 0.2em solid;
}
table td {
    text-transform: capitalize;
    text-align: center;
}   
.pokeImage{
    height: 4em;
    width: 4em;
}
/* Responsive para celular */
@media screen and (min-width:300px) and (max-width:600px)  {
    #icon{
        display: block;
        background-color: #FFCB05;
        cursor: pointer;
        margin: 0;
        padding: 0;
    }
    body{
        font-size: 1em;
        width: 100%;
        height: 100%;
    }
    #section{
        width: 100%;
        padding: 0;
    }
    .image{
        width: 30%;
        height: 50%;
        margin-top: 1%;
    }
    .bar{
        left: -300px;
        width: 50%;
    }
    .link{
        font-size: 1em;
    }
    #check:checked ~ .bar{
        transform: translateX(300px);
    }
    header{
        height: 10%;
        width: 100%;
    }
    #dropDown {
        width: 50%;
        font-size: 1em;
    }
    .pokemonList{
        line-height: 0.2em;
        width: 100%;
    }
    .conteinerPokemon{
        width: 40%;
        margin: 2%;
        padding: 2%;   
        font-size: 0.8em;
    }
    .containerDescription{
        width: 100%;
        display: block;    
    }
    .descriptionPokemon{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .datesPokemon2{
        width: auto;
        margin-top: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .dates{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: #A1A1AE 0.2em solid;
        border-radius: 1rem;
        width: 60%;
    }
    .evolutionPokemon{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: #A1A1AE 0.1em solid;
        border-radius: 1rem; 
    }
    #tableComparePokemon{
        display: flex;
        flex-direction: column;
    }
    #searchForm1,#searchForm2{
        margin:0;
    }
    #twoPokemon{
        margin:0.5em;
    }
    #inputCompare{
        display: block;
    }

}
/*Responsive para tablet*/
@media screen and (min-width:600px) and (max-width:1100px) {
    body{
        font-size: 1.5em;
        width: 100%;
        height: 100%;
    }
    #icon{
        display: block;
        background-color: #FFCB05;
        cursor: pointer;
        margin: 0;
        padding: 0;
    }
    #section{
        width: 100%;
        padding: 0;
    }
    .bar{
        left: -300px;
        width: 30%;
    }
    .link{
        font-size: 1.3em;
    }
    #check:checked ~ .bar{
        transform: translateX(300px);
    }
    #dropDown {
        width: 50%;
        font-size: 1em;
    }
    .conteinerPokemon{
        width: 25%;
        margin: 2%;
        padding: 2%;   
        font-size: 0.8em;
    }
    
    #tableComparePokemon{
        display: flex;
        flex-direction: column;
    }
    #searchForm1,#searchForm2{
        padding-left: 0;
    }
    #inputCompare{
        display: block;
    }
}
/*Footer*/
footer{
    width: 100%;
    height: 5em;
    background: #205FA7;
    text-align: center;
    color: #F6F8FF;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border: 0.2em solid #413D3D;
}
.social{
    padding-top: 0.8em;
}
.icon{
    color:white;
    text-decoration: none;
    transition: all.5s;
    padding: 0.3em;
    width: 1.5em;
    border-radius: 1rem;
}
.icon-facebook{
    background: #2E406E;
}
.icon-twitter{
    background: #339DC5;
}
.icon-youtube{
    background: #E83028;
}
.icon-instagram{
    background: #3f60a5;
}
.icon:hover{
    padding: 0.8rem;
}
.typenormal { padding: 4px; background-color : #a8a878 }
.typefire { padding: 4px; background-color : #f08030 }
.typewater { padding: 4px; background-color : #6890f0 }
.typegrass { padding: 4px; background-color : #78c850 }
.typepoison { padding: 4px; background-color : #a040a0 }
.typeelectric { padding: 4px; background-color : #f8d030 }
.typeground { padding: 4px; background-color : #e0c068 }
.typepsychic { padding: 4px; background-color : #f85888 }
.typerock { padding: 4px; background-color : #b8a038 }
.typeice { padding: 4px; background-color : #98d8d8 }
.typebug { padding: 4px; background-color : #a8b820 }
.typedragon { padding: 4px; background-color : #7038f8 }
.typeghost { padding: 4px; background-color : #705898 }
.typesteel { padding: 4px; background-color : #b8b8d0 }
.typefairy { padding: 4px; background-color : #ee99ac }
.typedark { padding: 4px; background-color : #705848 }
.typeflying { padding: 4px; background-color : #a890f0 }
.typefighting { padding: 4px; background-color : #c02038 }
