.ocultar{
    display: none;
 }
body {
	margin: 0;
	padding: 0;
	font-size: 1em;
	line-height: 1.5em;
    padding-top: 5%; /* Relleno superior igual a la altura de la cabecera*/
    width: 100%;
    height: 100%;
}
.heder{
    width: 100%;
    height: 10%;
    background: #205FA7;
    position: fixed;/* Hacemos que la cabecera tenga una posición*/
    left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0;/* Posicionamos la cabecera pegada arriba */
}
#contenedorT{
    display : flex;
    width: 100%;
    height: 100%;
    text-align: center;
}
#izquierda{
    /* width: 15%; */
    height: 1000px;
    float:left;
    background: #FFCB05;
    display: flex;
    position: fixed;/* Hacemos que la cabecera tenga una posición*/
    /*justify-content: space-around;*/
    flex-direction: column;
}
.menu{
    background: #FFCB05;
    border: #F6F8FF 1px solid; 
    font-size: 20px;
    padding: 10px;
}
#derecha{
    width: 100%;
    padding-left: 18%;
    float:left;
    background: #F6F8FF;
}
.demo{
    /*width: 25%;
    border: 10px;*/
    width: 90%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contenedor{
    width: 20%;
    margin: 1%;
    border: #A1A1AE 1px solid; 
}
.interior{
    text-align: left;
}
/* Barra lateral */
#check{
    display: none;
}
#icone{
    cursor: pointer;
    padding: 15px;
    position: absolute;
    z-index: 1;
}
.barra{
    background: #FFCB05;
    height: 100%;
    width: 15%;
    position: absolute;
    transition: all .2s linear;
    left: -300px;
}
nav{
    width: 100%;
    position: absolute;
    top: 60px;
}
nav a{
    text-decoration: none;
}
.link{
    background-color: #FFCB05;
    padding: 20px;
    font-size: 12pt;
    transition: all .2s linear;
    color: #F6F8FF;
    border-bottom: 2px solid #F6F8FF ;
}
.link:hover{
    background-color: #205FA7;
}
#check:checked ~ .barra{
    transform: translateX(300px);
}
@media screen and (max-width:1100px) and (min-width:300px) {
    /* celular */
    body {
        padding-top: 10%; /* Relleno superior igual a la altura de la cabecera*/
    }
    .heder{
        height: 10%;
    }
    .imagen img{
        width: 50px;
        height: 10px;
    }
    .contenedor{
        width: 45%;
        margin: 1%;
        
	font-size: 2em;
    }
}
/* @media screen and (min-width:1024px) { 
    body {
        padding-top: 10%; Relleno superior igual a la altura de la cabecera
    }
    .barra{
        background: green;
    }
    .imagen img{
        width: 10%;
        height: 100%;
    }
}*/
/* @media screen and (max-width:640px) {
    body {
        padding-top: 5%; Relleno superior igual a la altura de la cabecera
    }
    .imagen img{
        width: 10%;
        height: 100%;
    }
    .heder{
        height: 10%;
    }
    .barra{
        background: purple;
    }
}*/