.ocultar{
    display: none;
 }
body{
    background: #F6F8FF;
    width: 100%;
    height: 100%;
    margin-top: 0%;
    margin-left:0%;
    color: #413d3d;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
 }
/*Header*/
header{
    width: 100%;
    height: 10%;
    border: 0.2em solid #413D3D;
    border-right:0;
    border-left:0;
    background: #205FA7;
    display: inline-flex;
    flex: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.image{
    width: 8em;
    height: 5em;
    margin-left: 1em;
}
#search{
    width: 13em;
    height: 2em;
    margin-right: 2.5em;
    font-size: 1em;
    border-radius: 0.5em;
    text-align: center;
}
/*Barra Lateral de Navegación*/
#browser{
    width: 100%;
    height: 100%;
}
#check{
    display: none;
}
#icon{
    display: none;
}
.bar{
    background-color: #FFCB05;
    height: 100%;
    width: 15%;
    position: absolute;
}
.link{
    cursor: pointer;
    width: 100%;
    text-align: justify;
    outline:none;
    background-color: #FFCB05;
    padding: 1em;
    font-size: 1.2em;
    transition: all .2s linear;
    color: #413D3D;
    border: 0;
    border-bottom: 2px solid #F6F8FF;
}
.link:hover{
    background-color: #205FA7;
    color: #F6F8FF;
}

/*Sección Principal de Pokemones*/
#section{
    width: 85%;
    padding-left: 15%;
}
#pokedex,#getCandy,#comparePokemon,#powerData{
    width: 100%;
    height: 100%;
    text-align: center;
}
.title{
    text-align: start;
    font-family:'Lato', sans-serif;
    font-size: 1.7em;
    color: #413D3D;
    padding: 0;
    margin: 0;
    margin-left: 1em;
}
.description{
    padding: 0.5em;
    border: #A1A1AE 0.2em solid;
    background-color: white;
    border-left: 0;
    border-right: 0;
    border-style: double;
    line-height: 1.5em;
}
/*Lista desplegable*/
.options{
    display: flex;
    justify-content: space-evenly;
    text-align-last: center;
    flex-wrap: wrap;
}
.btnGet{
    border: 0.1em solid #A1A1AE;
    padding: 0.5em;
    font-size: 1em;
    color: #413D3D;
    outline:none;
    border-radius: 0.5em;
}
/*Contenedor de pokemones*/
.pokemonList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.conteinerPokemon{
    width: 20%;
    margin: 1%;
    border: #A1A1AE 1px solid;
    color: #205FA7;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.5em;
}
.name{
    text-transform: capitalize;
    font-size: 1.2em;
}
.type{
    padding: 0.8em;
    background-color: #205FA7;
    color: white;
    text-transform: capitalize;
    letter-spacing: 0.2em;
}
/*Comparación de Pokemones*/
#inputCompare{
    height: 100%;
    padding-left: 15%;
    display: inline-flex;
    justify-content: space-between;
}
#tableComparePokemon{
    display: inline-flex;
    align-content: space-between;
}
.conteinerPokemonCompare {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    padding: 2em;
    border: #A1A1AE 0.2em solid;
    color: #205FA7;
    font-weight: bold;
    cursor: pointer;
    border-radius: 2em;
}
#showPokemon1, #showPokemon2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Tabla de Datos de Poder*/
.compareTable{
    font-size: 1em;
    font-weight: bold;
    margin: 2%;
    margin-bottom: 2%;
    border-collapse: collapse;
}
#powerTable{
    font-size: 1em;
    width: 50%;
    height: 80%;
    font-weight: bold;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border-collapse: collapse;
    position: center;
}
table tr{
    padding: 5px;
}

table th, table td {
    border: 1px solid #205FA7;
    padding: 10px;
    text-align: center;
}
table th {
    text-transform: uppercase;
    background-color: #205FA7;
    color: white;
}
table td {
    text-transform: capitalize;
    text-align: center;
}
.pokeImage{
    height: 4em;
    width: 4em;
}
/*Responsive para tablet*/
@media screen and (max-width:1100px) and (min-width:600px) {
    body{
        font-size: 1.5em;
        width: 100%;
        height: 100%;
    }
    #icon{
        display: block;
        background-color: #FFCB05;
        cursor: pointer;
        margin: 0;
        padding: 0;
    }
    #section{
        width: 100%;
        padding: 0;
    }
    .bar{
        left: -300px;
        width: 30%;
    }
    .link{
        font-size: 1.3em;
    }
    #check:checked ~ .bar{
        transform: translateX(300px);
    }
    #dropDown {
        width: 50%;
        font-size: 1em;
    }
    .conteinerPokemon{
        width: 25%;
        margin: 2%;
        padding: 2%;   
        font-size: 0.8em;
    }
}
/* Responsive para celular */
@media screen and (max-width:600px) and (min-width:300px) {
    #icon{
        display: block;
        background-color: #FFCB05;
        cursor: pointer;
        margin: 0;
        padding: 0;
    }
    body{
        font-size: 1em;
        width: 100%;
        height: 100%;
    }
    #section{
        width: 100%;
        padding: 0;
    }
    .image{
        width: 30%;
        height: 50%;
        margin-top: 1%;
    }
    .bar{
        left: -300px;
        width: 50%;
    }
    .link{
        font-size: 1em;
    }
    #check:checked ~ .bar{
        transform: translateX(300px);
    }
    header{
        height: 10%;
        width: 100%;
    }
    #dropDown {
        width: 50%;
        font-size: 1em;
    }
    .pokemonList{
        line-height: 0.2em;
        width: 100%;
    }
    .conteinerPokemon{
        width: 40%;
        margin: 2%;
        padding: 2%;   
        font-size: 0.8em;
    }

}
/*Footer*/
footer{
    width: 100%;
    height: 5em;
    background: #205FA7;
    text-align: center;
    color: #F6F8FF;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.social{
    padding-top: 0.8em;
}
.icon{
    color:white;
    text-decoration: none;
    transition: all.5s;
    padding: 0.3em;
    width: 1.5em;
    border-radius: 1rem;
}
.icon-facebook{
    background: #2E406E;
}
.icon-twitter{
    background: #339DC5;
}
.icon-youtube{
    background: #E83028;
}
.icon-instagram{
    background: #3f60a5;
}
.icon:hover{
    padding: 0.8rem;
}